# Misc
.idea
.github
.circleci
codegen.json

# Build
build
web/dist
web/README.md

# Deps
node_modules
venv


# Generated (ignore everything except from dotenv files)
out
!out/.env*
.setup

# External
docs

