out/
.setup/
venv/
.idea/
__pycache__/
*.zip

# Dependencies
node_modules/
npm-debug.log*

# web
web/dist/

# Private keys
keys/

# MacOS files
.DS_Store

# Terraform
.terraform
terraform.tfstate*

# Omit mage temporary file that can be left at root path if mage does not exit gracefully.
mage_output_file.go
